*{
    box-sizing: border-box;
}
.cardTable{
    height: calc(100vh - 90px);
    border: 1px solid #c3c3c3 !important;
    box-shadow: -5px 5px 20px -5px #ccc;
}
.classinputlar {
    position: relative;
    margin: 0px auto;
    width: 99%;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding: 5px 10px;
    background: #fff;
    height: 300px;
  }
.classinputlar label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
  }
.cardheader {
    /* // border: 1px solid #c3c3c3;
    // box-shadow: -5px 5px 20px -5px #ccc;
    // border-radius: 10px; */
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.DataTable{
    border: 1px solid #d3d3d3;
    padding: 7px;
    border-radius: 10px;
    overflow: auto;
    height: 600px;
    /* // box-shadow: -2px 3px 20px -5px #ccc; */
  }
.tableThLeftRadius {
    /* width: 55px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tableThRightRadius {
    width: 130px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.tableTdLeftRadius {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tableTdRightRadius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}